/*PAGE STYLES*/



body {
    font-family: 'Castoro',
        serif;
    background-color: #E5E7E9;
}

p {
    font-size: 1em;
}

.navbar-brand {
    font-size: 2em;
}

#introduction {
    margin-top: 50px;
}

#resume-button {
    display: block;
    width: 400px;
    margin: auto;
    font-size: 2em;
    margin-top: 50px;
}

#contact-info {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}


#contact-info li {
    list-style: none;
    text-align: center;
}

/*IMAGES */

.landing-photo {
    display: block;
    margin: auto;

}



/*MEDIA QUERIES*/
