/*PAGE STYLES*/



body {
    font-family: 'Castoro',
        serif;
    background-color: #E5E7E9;
}

p {
    font-size: 1em;
}

.navbar-brand {
    font-size: 2em;
}

.navbar-nav {
    font-size: 1.5em;
}

#introduction {
    margin-top: 50px;
}

#resume-button {
    display: block;
    width: 400px;
    margin: auto;
    font-size: 2em;
    margin-top: 50px;
}

#contact-info {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}


#contact-info li {
    list-style: none;
    text-align: center;
}

/*IMAGES */

.landing-photo {
    display: block;
    margin: auto;

}



/*MEDIA QUERIES*/
@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px),
(max-width: 768px) {
    .landing-photo-mobile {
        width: 300px;
    }
}

@media only screen and (min-width: 1030px) {
    .navbar-nav {
        font-size: 2em;
    }

    .landing-photo-mobile {
        width: 500px;
    }
}
